In [1]:
'''
    Author: Huyen Nguyen
    Title: Qld AI Lesson 6 Exercise - 6 July 2021
    Date created: 30/06/2021
'''
!pip install -Uqq fastbook
import fastbook
from fastbook import *

     |████████████████████████████████| 727kB 7.5MB/s
     |████████████████████████████████| 51kB 5.9MB/s
     |████████████████████████████████| 1.2MB 16.2MB/s
     |████████████████████████████████| 194kB 36.1MB/s
     |████████████████████████████████| 61kB 7.8MB/s
     |████████████████████████████████| 61kB 8.2MB/s

In [2]:
from fastai.collab import *
from fastai.tabular.all import *

In [3]:
df = pd.read_excel('hobbies.xlsx')
df

,hobby,Dewsy,Huyen,Neil,Moji,Utsav,Behi,Bob,Suzannah,Pranjal,Josh,Steven,Bilal,Sam,Michael,Mario,Elliot,Jens,Jan,Jorge,Mac,Arun,Owen,Mario.1,Tracy,anas,Stan,Sean
0,Studying fastai,5.0,5.0,3.0,3.0,5.0,5.0,5.0,5.0,3.0,4.0,3.0,5.0,4.0,4.0,4.0,5.0,2.0,4.0,3.0,5.0,5.0,5.0,3.0,5.0,3.0,4.0,5
1,Music,5.0,4.0,3.0,5.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0,1.0,3.0,5.0,5.0,5.0,4.0,4.0,4.0,2.0,2.0,2.0,4.0,3.0,5.0,5.0,5
2,Hiking,5.0,3.0,5.0,5.0,2.0,NaN,2.0,4.0,5.0,4.0,2.0,5.0,3.0,3.0,3.0,5.0,4.0,5.0,4.0,5.0,NaN,3.0,3.0,4.0,5.0,5.0,5
3,Cooking,4.0,2.0,2.0,2.0,2.0,NaN,2.0,4.0,4.0,3.0,3.0,3.0,3.0,2.0,3.0,2.0,3.0,2.0,2.0,3.0,3.0,1.0,3.0,4.0,0.0,2.0,5
4,Friends,2.0,4.0,4.0,3.0,5.0,NaN,4.0,4.0,5.0,2.0,5.0,4.0,4.0,4.0,NaN,5.0,5.0,5.0,5.0,4.0,4.0,3.0,5.0,4.0,5.0,4.0,5
5,Board games,4.0,5.0,2.0,1.0,2.0,1.0,3.0,4.0,1.0,1.0,3.0,1.0,4.0,5.0,1.0,3.0,1.0,3.0,3.0,4.0,NaN,1.0,3.0,4.0,2.0,3.0,0
6,Swimming,2.0,NaN,2.0,3.0,2.0,4.0,1.0,2.0,4.0,2.0,5.0,3.0,3.0,2.0,1.0,4.0,5.0,3.0,2.0,3.0,3.0,3.0,3.0,4.0,0.0,3.0,5
7,Surfing,0.0,NaN,2.0,3.0,0.0,1.0,0.0,1.0,3.0,1.0,1.0,2.0,NaN,1.0,0.0,2.0,2.0,2.0,1.0,3.0,NaN,1.0,NaN,2.0,5.0,4.0,5
8,Yoga,0.0,2.0,3.0,3.0,1.0,NaN,1.0,4.0,3.0,1.0,1.0,4.0,NaN,1.0,0.0,5.0,3.0,1.0,1.0,1.0,5.0,1.0,NaN,4.0,0.0,4.0,0
9,Reading,2.0,5.0,4.0,5.0,4.0,NaN,4.0,4.0,5.0,3.0,2.0,5.0,4.0,3.0,4.0,5.0,5.0,4.0,3.0,4.0,NaN,5.0,4.0,3.0,NaN,5.0,5
10,Movies,3.0,3.0,3.0,4.0,4.0,NaN,4.0,2.0,5.0,2.0,5.0,4.0,4.0,4.0,4.0,3.0,3.0,4.0,5.0,3.0,NaN,3.0,5.0,2.0,NaN,1.0,5
11,Running,2.0,1.0,2.0,4.0,3.0,NaN,2.0,1.0,5.0,2.0,3.0,5.0,2.0,2.0,3.0,4.0,5.0,4.0,5.0,3.0,NaN,2.0,4.0,2.0,NaN,2.0,5
12,Art and craft,1.0,3.0,2.0,1.0,3.0,NaN,3.0,2.0,5.0,1.0,1.0,1.0,3.0,2.0,1.0,2.0,2.0,2.0,1.0,3.0,NaN,3.0,3.0,5.0,NaN,1.0,0
13,Drinking,1.0,1.0,NaN,3.0,3.0,NaN,2.0,1.0,3.0,1.0,3.0,1.0,3.0,3.0,3.0,2.0,0.0,3.0,3.0,4.0,NaN,1.0,3.0,3.0,NaN,3.0,5
14,Volunteering,3.0,4.0,NaN,3.0,3.0,NaN,NaN,3.0,5.0,3.0,3.0,3.0,NaN,2.0,1.0,4.0,4.0,2.0,3.0,4.0,NaN,2.0,3.0,4.0,NaN,4.0,0
15,Travel,2.0,4.0,4.0,4.0,4.0,NaN,NaN,4.0,5.0,3.0,5.0,2.0,4.0,5.0,4.0,5.0,5.0,5.0,4.0,10.0,NaN,3.0,4.0,5.0,NaN,5.0,5
16,Shopping,2.0,1.0,3.0,1.0,2.0,NaN,NaN,2.0,1.0,2.0,5.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,3.0,NaN,3.0,2.0,4.0,NaN,1.0,0
17,Dancing,1.0,3.0,5.0,3.0,1.0,NaN,NaN,2.0,4.0,1.0,1.0,1.0,2.0,3.0,3.0,4.0,1.0,1.0,4.0,2.0,1.0,1.0,3.0,5.0,NaN,3.0,0
18,Sports,1.0,3.0,3.0,5.0,2.0,NaN,NaN,3.0,3.0,5.0,5.0,5.0,2.0,5.0,4.0,5.0,4.0,5.0,5.0,4.0,4.0,1.0,3.0,4.0,NaN,4.0,5
19,Computer Games,4.0,NaN,5.0,4.0,4.0,NaN,NaN,4.0,2.0,1.0,5.0,1.0,3.0,4.0,3.0,4.0,0.0,5.0,4.0,3.0,NaN,5.0,3.0,2.0,NaN,2.0,5
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

In [4]:
df = pd.melt(df, id_vars=['hobby'], value_vars=df.columns[1:])
df = df[~df.value.isnull()]
df

               hobby variable  value
0    Studying fastai    Dewsy    5.0
1              Music    Dewsy    5.0
2             Hiking    Dewsy    5.0
3            Cooking    Dewsy    4.0
4            Friends    Dewsy    2.0
..               ...      ...    ...
562         Shopping     Sean    0.0
563          Dancing     Sean    0.0
564           Sports     Sean    5.0
565   Computer Games     Sean    5.0
566              NaN     Sean    5.0

[485 rows x 3 columns]

In [5]:
ratings = df.rename(columns = {"value": "rating", "variable": "user"})
ratings = ratings[['user', 'hobby', 'rating']]

In [6]:
ratings.head()

    user            hobby  rating
0  Dewsy  Studying fastai     5.0
1  Dewsy            Music     5.0
2  Dewsy           Hiking     5.0
3  Dewsy          Cooking     4.0
4  Dewsy          Friends     2.0

##Question 1##
Use the documentation of CollabDataLoaders to complete the code below, use 'hobby' as the item name and a batch size of 10 https://docs.fast.ai/collab.html#CollabDataLoaders.from_df

In [7]:
dls = CollabDataLoaders.from_df(ratings, item_name='hobby', bs=10)

In [8]:
x, y = dls.one_batch()
x, y

(tensor([[18, 10],
         [ 5,  5],
         [10, 20],
         [15,  6],
         [ 3, 15],
         [27, 10],
         [19, 19],
         [19,  5],
         [21,  0],
         [ 4, 20]]), tensor([[2.],
         [1.],
         [1.],
         [3.],
         [5.],
         [5.],
         [5.],
         [4.],
         [5.],
         [1.]]))

b. (Optional) Can you rearrange the ```ratings``` dataframe into this form https://pbpython.com/pandas-crosstab.html ![](https://drive.google.com/uc?export=view&id=1nTAwITd33VXvYPszak8DUqT7-3Q_ElcU)

In [ ]:
??

c. How sparse is this matrix? (i.e: the number of ratings divided by all possible user-movie combinations)

In [9]:
ct = pd.crosstab(ratings.user, ratings.hobby)
ratings.shape[0] / (ct.shape[0] * ct.shape[1] )

0.8981481481481481

## Question 2## 
a. The step below defines the model and creates the embedding matrices for users and movies. Please fill in the correct dimensions of the matrices.

b. 
Can you explain what is happening in these steps? 

```
     def forward(self, x):
        users = self.user_factors(x[:,0])
        movies = self.movie_factors(x[:,1])
        res = (users * movies).sum(dim=1, keepdim=True)
        res += self.user_bias(x[:,0]) + self.movie_bias(x[:,1])
        return sigmoid_range(res, *self.y_range)
```

c. What's the meaning of ```y_range=(0,5.5)``` and why do we want that constraint?

d. Why do we use ```MSELossFlat()``` as the loss function instead of cross entropy?

In [15]:
class DotProductBias(Module):
    def __init__(self, n_users, n_movies, n_factors, y_range=(0,10)):
        self.user_factors = Embedding(n_users, n_factors)
        self.user_bias = Embedding(n_users, 1)
        self.movie_factors = Embedding(n_movies, n_factors)
        self.movie_bias = Embedding(n_movies, 1)
        self.y_range = y_range
        
    def forward(self, x):
        users = self.user_factors(x[:,0])
        movies = self.movie_factors(x[:,1])
        res = (users * movies).sum(dim=1, keepdim=True)
        res += self.user_bias(x[:,0]) + self.movie_bias(x[:,1])
        return sigmoid_range(res, *self.y_range)

In [13]:
len(dls.classes['user'])

28

In [14]:
len(dls.classes['hobby'])

21

In [16]:
model = DotProductBias(28, 21, 5)
learn = Learner(dls, model, loss_func=MSELossFlat())

In [18]:
learn.fit_one_cycle(30, 5e-3)

In [19]:
def count_parameters(model):
    return sum(p.numel() for p in model.parameters() if p.requires_grad)
count_parameters(model)

294

## Question 3##
Can you get one batch of data from dls and show the output of the model?

In [ ]:
x,y = ??
activs = ??
activs

## Question 4 (Optional)##
```movie_bias``` captures the inherent popularity of the movies. Can you display the top 5 most popular titles?

In [ ]:
movie_bias = ??
idxs = movie_bias.argsort()[:5]
[dls.classes['hobby'][i] for i in idxs]

Pick two random students and can you find how similar they are?

In [ ]:
# Find index of user
id1 = np.where(np.array(dls.classes['user'])=='X')[0][0]
id2 = np.where(np.array(dls.classes['user'])=='Y')[0][0]

In [ ]:
np.corrcoef(model.user_factors.weight[id1].detach().numpy(), model.user_factors.weight[id2].detach().numpy())

## Question 5##
a. What are the arguments user_sz and item_sz in the model below?

b. Why is the dimension of the linear layer ```nn.Linear(user_sz[1]+item_sz[1], n_act)```?

c. What happens in the forward pass?

In [20]:
class CollabNN(Module):
    def __init__(self, user_sz, item_sz, y_range=(0,5.5), n_act=100):
        self.user_factors = Embedding(*user_sz)
        self.item_factors = Embedding(*item_sz)
        self.layers = nn.Sequential(
            nn.Linear(user_sz[1]+item_sz[1], n_act),
            nn.ReLU(),
            nn.Linear(n_act, 1))
        self.y_range = y_range
        
    def forward(self, x):
        embs = self.user_factors(x[:,0]),self.item_factors(x[:,1])
        x = self.layers(torch.cat(embs, dim=1))
        return sigmoid_range(x, *self.y_range)

## Question 6##
Based on fastai documentation, what does this step ```embs = get_emb_sz(dls)``` do?

In [21]:
embs = get_emb_sz(dls)
model = CollabNN(*embs)

In [22]:
embs

[(28, 10), (21, 9)]

In [23]:
learn = Learner(dls, model, loss_func=MSELossFlat())
learn.fit_one_cycle(5, 5e-3, wd=0.01)

## Collaborative filtering the fastai way ##

## Question 7##
a. What does n_factors mean?

In [ ]:
learn = collab_learner(dls, n_factors=5, y_range=(0, 4))
learn.fit_one_cycle(3, 5e-3, wd=0.1)

b. Can you define a model with 3 hidden layers with 50,20 nodes. What is the number of parameters in your model?

In [24]:
learn = collab_learner(dls, use_nn=True, y_range=(0, 5.5), layers = [50,20])
learn.fit_one_cycle(3, 5e-3, wd=0.1)

In [25]:
learn.model

EmbeddingNN(
  (embeds): ModuleList(
    (0): Embedding(28, 10)
    (1): Embedding(21, 9)
  )
  (emb_drop): Dropout(p=0.0, inplace=False)
  (bn_cont): BatchNorm1d(0, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): LinBnDrop(
      (0): Linear(in_features=19, out_features=50, bias=False)
      (1): ReLU(inplace=True)
      (2): BatchNorm1d(50, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (1): LinBnDrop(
      (0): Linear(in_features=50, out_features=20, bias=False)
      (1): ReLU(inplace=True)
      (2): BatchNorm1d(20, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (2): LinBnDrop(
      (0): Linear(in_features=20, out_features=1, bias=True)
    )
    (3): SigmoidRange(low=0, high=5.5)
  )
)

In [26]:
count_parameters(learn.model)

2580

In [27]:
from prettytable import PrettyTable

def count_parameters(model):
    table = PrettyTable(["Modules", "Parameters"])
    total_params = 0
    for name, parameter in model.named_parameters():
        if not parameter.requires_grad: continue
        param = parameter.numel()
        table.add_row([name, param])
        total_params+=param
    print(table)
    print(f"Total Trainable Params: {total_params}")
    return total_params
    
count_parameters(learn.model)

+-------------------+------------+
|      Modules      | Parameters |
+-------------------+------------+
|  embeds.0.weight  |    280     |
|  embeds.1.weight  |    189     |
|   bn_cont.weight  |     0      |
|    bn_cont.bias   |     0      |
| layers.0.0.weight |    950     |
| layers.0.2.weight |     50     |
|  layers.0.2.bias  |     50     |
| layers.1.0.weight |    1000    |
| layers.1.2.weight |     20     |
|  layers.1.2.bias  |     20     |
| layers.2.0.weight |     20     |
|  layers.2.0.bias  |     1      |
+-------------------+------------+
Total Trainable Params: 2580

2580

In [28]:
28*10+21*9+0+0+19*50+50*2+20*50+20*2+20+1

2580

## Classification task ##

## Question 8 (hard/optional but you'll learn a great deal from doing it)
a. If we want to turn this regression task into a classification task using the CollabNN model above, what changes do we have to make?

b. Can you implement it yourself? What do you observe about the training of this new model?

In [ ]:
class CollabNN(Module):
    def __init__(self, user_sz, item_sz, n_act=100):
        self.user_factors = Embedding(*user_sz)
        self.item_factors = Embedding(*item_sz)
        self.layers = nn.Sequential(
            nn.Linear(user_sz[1]+item_sz[1], n_act),
            nn.ReLU(),
            nn.Linear(n_act, 5))
        
    def forward(self, x):
        embs = self.user_factors(x[:,0]),self.item_factors(x[:,1])
        x = self.layers(torch.cat(embs, dim=1))        
        return torch.exp(x) / torch.exp(x).sum(dim=1, keepdim = True)

In [ ]:
def get_x(df): 
  return np.hstack(df[['user', 'movie']].values)

def get_y(df): return df['rating']-1

dblock = DataBlock(get_x=get_x, 
                   get_y=get_y)

dsets = dblock.datasets(ratings)
dsets.train[0]

In [ ]:
dls = dblock.dataloaders(ratings, bs = 5)

In [ ]:
model = CollabNN((944, 10), (1683, 20))

In [ ]:
learn = Learner(dls, model, loss_func=CrossEntropyLossFlat(), metrics = accuracy)
learn.fit_one_cycle(1, 5e-3, wd=0.01)